Port 10022
PermitRootLogin no
PasswordAuthentication no
PermitEmptyPasswords no

#ChallengeResponseAuthentication yes # For 2fa
ChallengeResponseAuthentication no # For no 2fa

UsePAM yes
#AuthenticationMethods publickey,keyboard-interactive # For 2fa
AuthenticationMethods publickey # For no 2fa

X11Forwarding yes
PrintMotd no
ClientAliveInterval 60
AcceptEnv LANG LC_*

Subsystem	sftp	/usr/lib/openssh/sftp-server

AllowUsers lbejiuk

